    <nav class="navbar navbar-expand-lg py-0">
      <div class="container px-lg-0 py-1 py-lg-6 border-bottom-lg border-gray-300">
        <h1>
          <a class="navbar-brand" href="index.html">
            <picture class="logo">
              <source srcset="../assets/images/logo.svg" media="(min-width: 992px)" width="96" height="28">
              <img src="../assets/images/logo.svg" alt="Vivre Logo" width="68" height="20">
            </picture>
          </a>
        </h1>
        <div class="header-menu">
          <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list fs-4"></i>
            <i class="bi bi-x fs-5 close"></i>
          </button>
          <!-- <button type="button" class="btn-close close" aria-label="Close"></button> -->
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="d-flex" role="search">
            <div class="input-group search">
              <label class="input-group-text search-text py-" for="search">搜尋文章</label>
              <input type="text" class="form-control" id="search" aria-label="search" aria-describedby="search">
              <a href="#" class="input-group-text"><i class="bi bi-search link-accent-200 fs-4"></i></a>
            </div>
          </form>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fw-bold text-gray-500 me-4 my-5 my-lg-0">
            <li class="nav-item">
              <a class="nav-link p-2" aria-current="page" href="#">所有文章</a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-2" href="subscribe.html">訂閱方案</a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-2" href="#">關於我們</a>
            </li>
          </ul>
          <a href="register.html" class="btn btn-accent-200 w-100 w-lg-auto py-lg-3 px-lg-5">登入 / 註冊</a>
        </div>
      </div>
    </nav>