.btn{
  letter-spacing: 0.1em;
  &.btn-accent-200{
    color: white;
    &:hover, &:active{
      background: $accent-300;
      border-color: $accent-300;
      color: white;
    }
    &:disabled{
      background: $neutral-200;
      border-color: $neutral-200;
    }
  }
  &.btn-gray-100{
    color: $neutral-400;
    &:hover, &:active{
      background: $neutral-200;
      border-color: $neutral-200;
      color: $neutral-500;
    }
    &:disabled{
      color: $neutral-300;
    }
  }
}
