.header{
  background: #69F0AE;
  font-size: 64px;
}

.search{
  max-width: 351px;
  border: 1px solid $neutral-200;
  border-radius: 100px;
  overflow: hidden;
  .input-group-text{
    border: none;
    background-color: white;
  }
  &-text{
    color: $neutral-300;
  }
  &:focus-within .search-text{
    color: $neutral-600;
    font-weight: 700;
  }
  .form-control{
    border: none;
    background-color: white;
    &:focus{
      outline: none;
      box-shadow: none;
      border-color: transparent;
    }
  }
}
.close{
  display: none;
}
