.section{
  padding-top: 80px;
  padding-bottom: 80px;
}
.section-title{
  font-size: 24px;
  margin-bottom: 24px;
  @include media-breakpoint-up(md){
    font-size: 32px;
  }
}
.banner-text{
  color: white;
  width: 100%;
  bottom: 0;
  text-align: center;
  @include media-breakpoint-up(md){
    transform: translateY(50%);
    bottom: 50%;
    text-align: left;
  }
}
.banner-title{
  font-size: 28px;
  @include media-breakpoint-up(md){
    font-size: 40px;
  }
}
.theme-card{
  border-radius: 20px 0 20px 0;
  overflow: hidden;
  width: 100%;
  &::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $neutral-600;
    opacity: 0;
    transition: opacity 0.3s;
  }
  &:hover::after{
    opacity: 0.4;
  }
  &-title{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
    text-align: center;
    z-index: 1;
  }
}
.hito-content{
  &::before{
    @include media-breakpoint-up(md){
      content: "";
      width: 217px;
      height: 70px;
      background-image: url('/assets/images/bg-1.png');
      position: absolute;
      left: 0;
      bottom: 0;
      margin-left: 8px;
    }
  }
  &::after{
    content: "";
    width: 164px;
    height: 94px;
    background-image: url('/assets/images/bg-2-sm.png');
    position: absolute;
    right: -50px;
    bottom: 0;
    @include media-breakpoint-up(md){
      right: -30px;
      width: 300px;
      height: 185px;
      background-image: url('/assets/images/bg-2.png');
    }
  }
}
