<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vivre 登入</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <section class="container py-9 py-lg-11">
        <div class="row justify-content-center">
          <div class="col-md-10 col-xl-6">
            <div class="border border-primary-300 bg-white rounded-lg-4 p-5 p-lg-7">
              <h4 class="text-accent-200 mb-5">登入</h4>
              <form>
                <div class="mb-3">
                  <label for="inputAccount" class="form-label h6 fw-bold">會員帳號</label>
                  <input type="text" class="form-control" id="inputAccount" aria-describedby="inputAccount" placeholder="請輸入會員帳號">
                </div>
                <div class="mb-3">
                  <label for="inputPassword" class="form-label h6 fw-bold">密碼</label>
                  <input type="password" class="form-control" id="inputPassword" placeholder="請輸入密碼">
                </div>
                <button class="btn btn-accent-200 fs-md-5 py-lg-3 px-lg-5 w-100" type="submit">立即登入<i class="bi bi-arrow-right ms-2"></i></button>
              </form>
              <div class="position-relative py-5">
                <hr>
                <p class="position-absolute bg-white top-50 start-50 translate-middle px-2 text-gray-300">或以其他方式登入
                </p>
              </div>
              <div>
                <button class="btn btn-gray-100 py-lg-3 px-lg-5 w-100 d-flex align-items-center justify-content-center mb-1" type="submit"><img class="me-2" src="../assets/images/icons-google.png" alt="google icon">使用 Google 登入</button>
                <button class="btn btn-gray-100 py-lg-3 px-lg-5 w-100 d-flex align-items-center justify-content-center" type="submit"><img class="me-2" src="../assets/images/icons-facebook.png" alt="google icon">使用 Facebook 登入</button>
              </div>
              <div class="d-flex gap-2 justify-content-center mt-5 mt-lg-7">
                <p>已經是會員了？ </p>
                <a href="register.html" class="link-accent-200">點此註冊</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
