<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vivre 訂閱方案</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <section class="subscribe container pt-3 pb-9 py-lg-11">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb py-2 mb-1 mb-lg-4">
            <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
            <li class="breadcrumb-item active" aria-current="page">訂閱方案</li>
          </ol>
        </nav>
        <h3 class="fs-lg-1 mb-7 mb-lg-9">訂閱方案</h3>
        <div class="row">
          <div class="col-lg-8 col-xl-6 col-xxl-4 mx-auto">
            <div class="d-flex gap-lg-5 mb-5 mb-lg-7">
              <button type="button" class="btn btn-accent-200 rounded-0 w-50">年繳</button>
              <button type="button" class="btn text-gray-400 rounded-0 w-50 text-accent-200-hover">月繳</button>
            </div>
          </div>
        </div>
        <div class="row justify-content-center row-cols-1 row-cols-xl-3">
          <div class="col-md-10">
            <div class="card h-100 border border-primary-300 bg-white p-5 p-lg-7 text-gray-400 position-relative">
              <div class="mb-6 mb-lg-11 d-flex flex-column align-items-center">
                <h5 class="package-title">輕量型</h5>
                <div class="d-flex align-items-center">
                  <p class="package-price">NT <span>99</span></p>
                  <h4>/ 月</h4>
                </div>
              </div>
              <ul class="list-unstyled mb-9 d-flex flex-column gap-5-5 gap-lg-5">
                <li><i class="bi bi-check-square-fill me-1"></i>每月最新文章無限閱讀</li>
                <li><i class="bi bi-check-square-fill me-1"></i>專屬會員限定內容</li>
                <li><i class="bi bi-check-square-fill me-1"></i>定期電子報</li>
              </ul>
              <button class="btn btn-light link-gray-400 fs-md-5 py-lg-3 px-lg-5 w-100 mt-auto stretched-link" type="submit">我要訂閱<i class="bi bi-arrow-right ms-2"></i></button>
            </div>
          </div>
          <div class="col-md-10">
            <div class="card h-100 border border-primary-300 bg-white p-5 p-lg-7 text-gray-400 position-relative">
              <div class="mb-6 mb-lg-11 d-flex flex-column align-items-center">
                <h5 class="package-title">玩咖型</h5>
                <div class="d-flex align-items-center">
                  <p class="package-price">NT <span>159</span></p>
                  <h4>/ 月</h4>
                </div>
              </div>
              <ul class="list-unstyled mb-9 d-flex flex-column gap-5-5 gap-lg-5">
                <li><i class="bi bi-check-square-fill me-1"></i>每月最新文章無限閱讀</li>
                <li><i class="bi bi-check-square-fill me-1"></i>專屬會員限定內容</li>
                <li><i class="bi bi-check-square-fill me-1"></i>定期電子報</li>
                <li><i class="bi bi-check-square-fill me-1"></i>年度精選禮物</li>
              </ul>
              <button class="btn btn-light link-gray-400 fs-md-5 py-lg-3 px-lg-5 w-100 mt-auto stretched-link" type="submit">我要訂閱<i class="bi bi-arrow-right ms-2"></i></button>
            </div>
          </div>
          <div class="col-md-10">
            <div class="card h-100 border border-primary-300 bg-white p-5 p-lg-7 position-relative">
              <div class="mb-6 mb-lg-9 d-flex flex-column align-items-center">
                <h5 class="package-title">家庭型</h5>
                <div class="d-flex align-items-center">
                  <p class="package-price">NT <span>599</span></p>
                  <h4>/ 月</h4>
                </div>
                <span class="text-decoration-line-through text-gray-300">NT 899</span>
              </div>
              <ul class="list-unstyled mb-9 d-flex flex-column gap-5-5 gap-lg-5">
                <li><i class="bi bi-check-square-fill me-1"></i>每月最新文章無限閱讀</li>
                <li><i class="bi bi-check-square-fill me-1"></i>專屬會員限定內容</li>
                <li><i class="bi bi-check-square-fill me-1"></i>定期電子報</li>
                <li><i class="bi bi-check-square-fill me-1"></i>年度精選禮物</li>
                <li><i class="bi bi-check-square-fill me-1"></i>24/7 優先客戶服務</li>
                <li><i class="bi bi-check-square-fill me-1"></i>為每個成員量身打造專屬行程</li>
                <li><i class="bi bi-check-square-fill me-1"></i>最多 5 個家庭成員共享</li>
              </ul>
              <button class="btn btn-accent-200 fs-md-5 py-lg-3 px-lg-5 w-100 mt-auto stretched-link" type="submit">我要訂閱<i class="bi bi-arrow-right ms-2"></i></button>
            </div>
          </div>
        </div>

      </section>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>